@model IEnumerable<Oasis.Models.prov_oc_principal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_oc_principal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anulada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_oc_principal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anulada)
        </td>
        <td>
            @Html.ActionLink("Imprimir", "Imprimir", new { id = item.id_oc_principal }, new { target = "_blank" }) |
            @Html.ActionLink("Enviar", "Enviar", new { id = item.id_oc_principal }) |
            @Html.ActionLink("Anular", "Delete", new { id = item.id_oc_principal })
        </td>
    </tr>
}

</table>
